html, body{
  height: 100%;
  overflow: hidden;
}
body {
  background: #000;
  color: #000;
  font-family: "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  width: 100%;
}

::-webkit-input-placeholder { color: #333; }
::-moz-placeholder { color: #333; } /* firefox 19+ */
:-ms-input-placeholder { color: #333; } /* ie */
input:-moz-placeholder { color: #333; }

.wrapper {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 18.75% 10px 37.5%;
}

.levels {
  display: block;
  height: 25%;
  margin: 0 auto;
  min-width: 300px;
  width: 75%;
}

.source-value {
  background: #111;
  border-radius: 10px;
  border: none;
  color: #555;
  display: block;
  font-size: 45px;
  left: 30%;
  margin: 0 auto;
  padding: 5px 8px;
  position: absolute;
  right: 30%;
  text-align: center;
  top: 100px;
}

.source-value:focus {
  background: #444;
  color: #ddd;
  outline: none;
}

[class*="defcon"] {
  background: red;
  opacity: 0.3;
  border-radius: 10px;
  display: block;
  float: left;
  height: 240px;
  width: 19%;
  margin-bottom: 5px;
  margin-right: 7px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

[class*="defcon"] p {
  font-size: 10.5em;
  font-weight: 600;
  line-height: 220px;
  height: 100%;
  text-align: center;
}

[class*="defcon"].active {
  opacity: 1;
}

.defcon-1 {
  background: #fff;
  background-image: -ms-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #B5B5B5 150%);
  background-image: -moz-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #B5B5B5 150%);
  background-image: -o-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #B5B5B5 150%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 477, color-stop(0, #FFFFFF), color-stop(1.5, #B5B5B5));
  background-image: -webkit-radial-gradient(center, circle farthest-side, #FFFFFF 0%, #B5B5B5 150%);
  background-image: radial-gradient(circle farthest-side at center, #FFFFFF 0%, #B5B5B5 150%);
}
.defcon-2 {
  background: red;
  background-image: -ms-radial-gradient(center, circle farthest-side, #EFE1E1 0%, #EF0000 150%);
  background-image: -moz-radial-gradient(center, circle farthest-side, #EFE1E1 0%, #EF0000 150%);
  background-image: -o-radial-gradient(center, circle farthest-side, #EFE1E1 0%, #EF0000 150%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 477, color-stop(0, #EFE1E1), color-stop(1.5, #EF0000));
  background-image: -webkit-radial-gradient(center, circle farthest-side, #EFE1E1 0%, #EF0000 150%);
  background-image: radial-gradient(circle farthest-side at center, #EFE1E1 0%, #EF0000 150%);
}
.defcon-3 {
  background: yellow;
  background-image: -ms-radial-gradient(center, circle farthest-side, #EFEED9 0%, #EFCF00 150%);
  background-image: -moz-radial-gradient(center, circle farthest-side, #EFEED9 0%, #EFCF00 150%);
  background-image: -o-radial-gradient(center, circle farthest-side, #EFEED9 0%, #EFCF00 150%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 477, color-stop(0, #EFEED9), color-stop(1.5, #EFCF00));
  background-image: -webkit-radial-gradient(center, circle farthest-side, #EFEED9 0%, #EFCF00 150%);
  background-image: radial-gradient(circle farthest-side at center, #EFEED9 0%, #EFCF00 150%);
}
.defcon-4 {
  background: green;
  background-image: -ms-radial-gradient(center, circle farthest-side, #DEFFDE 0%, #20C200 150%);
  background-image: -moz-radial-gradient(center, circle farthest-side, #DEFFDE 0%, #20C200 150%);
  background-image: -o-radial-gradient(center, circle farthest-side, #DEFFDE 0%, #20C200 150%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 477, color-stop(0, #DEFFDE), color-stop(1.5, #20C200));
  background-image: -webkit-radial-gradient(center, circle farthest-side, #DEFFDE 0%, #20C200 150%);
  background-image: radial-gradient(circle farthest-side at center, #DEFFDE 0%, #20C200 150%);
}
.defcon-5 {
  background: blue;
  background-image: -ms-radial-gradient(center, circle farthest-side, #A8C8FF 0%, #0055FF 150%);
  background-image: -moz-radial-gradient(center, circle farthest-side, #A8C8FF 0%, #0055FF 150%);
  background-image: -o-radial-gradient(center, circle farthest-side, #A8C8FF 0%, #0055FF 150%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 477, color-stop(0, #A8C8FF), color-stop(1.5, #0055FF));
  background-image: -webkit-radial-gradient(center, circle farthest-side, #A8C8FF 0%, #0055FF 150%);
  background-image: radial-gradient(circle farthest-side at center, #A8C8FF 0%, #0055FF 150%);
}

